<script src="https://giscus.app/client.js"
        data-repo="LemonAdorable/lemonadorable.github.io"
        data-repo-id="R_kgDOLJXF6A"
        data-category-id="DIC_kwDOLJXF6M4Ccs4x"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="dark_tritanopia"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
<!--评论区主题切换-->
<script>

</script>

<script>
    if (localStorage.getItem("pref-theme") === "dark"){
        // 设置 giscus 的主题为 dark_tritanopia
        document.querySelector('script[src="https://giscus.app/client.js"]').setAttribute("data-theme", "dark_tritanopia");
    }
    else if (localStorage.getItem("pref-theme") === "light"){
        // 设置 giscus 的主题为 light_protanopia
        document.querySelector('script[src="https://giscus.app/client.js"]').setAttribute("data-theme", "light_protanopia");
    }
    document.addEventListener('DOMContentLoaded', function () {
        // 初始化 giscus 主题
        //initializeGiscusTheme();

        // 主题切换按钮的逻辑
        const themeToggle = document.getElementById("theme-toggle");
        if (themeToggle) {
            themeToggle.addEventListener("click", function() {
                const theme = document.body.classList.contains('dark') ? 'dark_tritanopia' : 'light_protanopia';
                updateGiscusTheme(theme);
            });
        }
    });

    // function initializeGiscusTheme() {
    //     const storedTheme = localStorage.getItem("pref-theme");
    //     // 如果 localStorage 中没有主题设置，则默认为白色主题
    //     const theme = storedTheme === 'dark' ? 'dark_tritanopia' : 'light_protanopia';
    //     updateGiscusTheme(theme);
    // }

    function updateGiscusTheme(giscusTheme) {
        const giscusIframe = document.querySelector('iframe.giscus-frame');
        if (giscusIframe) {
            giscusIframe.contentWindow.postMessage({ giscus: { setConfig: { theme: giscusTheme } } }, 'https://giscus.app');
        }
    }
</script>

